target/
.git
.gitignore
.idea
*.iml
.mvn
mvnw
mvnw.cmd
.DS_Store
Thumbs.db
!.mvn/wrapper/maven-wrapper.jar
!target//*.jar

# IDE files
.idea
*.iml
.classpath
.project
.settings

# Logs and temp files
*.log
.DS_Store
mvnw
mvnw.cmd
